@import url(http://fonts.googleapis.com/css?family=Ubuntu);

* {
  font-family: 'Ubuntu', sans-serif;

  }

body {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7em;
  background-image: url("halftone.png");
  background-repeat: repeat;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 4.5em;
}

#logo span{
  color: #c08c32;
}

#main {
  width: 65%;
  height: 403px;
  float: left;
  background-image: url("beerimg/beer0.jpg");
  border: 1px solid black;
  border-radius: 3px;
}

#counter {
  font-size: 1em;
}

#question {
  font-size: 2.5em;
  margin-top: 4.18em;
  background-color: black;
  border: 2px solid black;
  border-radius: 25px;
  text-align: center;
  color:white;
}

.answers {
  float: right;
  width:30%;
  font-size: 2em;
  text-align: center;
}

.answers div {
  margin-top: .9em;
  padding-top: .125em;
  border: 2px solid black;
  border-radius: 25px;
  color: white;
  background-color: black;

}

div#wrong {
  display: none;
  border: 2px solid red;
  position: absolute;
  font-size: 2.9em;
  top: 300px;
  right: 425px;
  color: white;
  background-color: red;
  border-radius: 25px;
  }

  div#correct {
  display: none;
  border: 2px solid green;
  position: absolute;
  font-size: 2.9em;
  top: 300px;
  right: 320px;
  color: white;
  background-color: green;
  border-radius: 25px;
  }

.next {
  text-align: center;
}

.next:hover {
  color:black;
}



